<!DOCTYPE html>
<html>
<head>
  <title>Fraud Detection Form</title>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <h2>Enter Transaction Details</h2>
  <form action="/predict" method="post">
    <label class="lb">Transaction Type:</label><input type="text" name="type_"><br>
    <label>Amount:</label><input type="number" step="0.01" name="amount"><br>
    <label>Old Balance 1:</label><input type="number" step="0.01" name="oldBal1"><br>
    <label>New Balance 1:</label><input type="number" step="0.01" name="newBal1"><br>
    <label>Old Balance 2:</label><input type="number" step="0.01" name="oldBal2"><br>
    <label>New Balance 2:</label><input type="number" step="0.01" name="newBal2"><br>
    <input type="submit" value="Check for Fraud">
  </form>
</body>
</html>
